/* Main content area */
.main {
  background-color: #D3D3D3;
}

/* Side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f0f8ff;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar Sections */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Styling for active section */
.sidebar a.active {
  background-color: #555;
  color: white;
}

/* Styling when hovering over sections */
.sidebar a:hover:not(.active) {
  background-color: #DDC1A6;
  color: white;
}

/* Hamburger menu */
.hamburger {
  display: none;
  font-size: 30px;
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 2;
}

/* Blog heading */
.blog-heading {
  margin-left: 220px;
  padding: 20px;
  position: relative;
  top: 70px; 
  font-size: 24px;
  text-align: left;
}

/* Container for the search bar */
.search-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 15px;
  width: calc(100% - 220px); 
  box-sizing: border-box;
  z-index: 1;
}

/* Styling for the form */
form {
  background-color: #FFFFFF;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Styling for the input search box */
input {
  all: unset;
  font: 16px system-ui;
  color: #000000;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

/* Styling for the button */
button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

/* Styling for the svg icon */
svg {
  color: #000000;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
} 

/* Styling for the add new page button*/
.new-post-button {
  background-color: #555;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin: 0 auto; /* Center horizontally */
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}

/* Hover effect for the button */
.new-post-button:hover {
  background-color: #DDC1A6;
} 

/* Wrapper to help center the button in the container */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 200px;
  position:relative;
} 

/* Styling the table */
.styled-table {
  border-collapse: collapse;
  margin: 35px 0px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: 510px;
  margin-right: auto; 
  table-layout: auto;
  
}

/*Styling the header*/
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
} 

/*Styling the table cells*/
.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
} 

/*Styling table rows*/ 
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
} 

/*Styling active row*/ 
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
} 

.styled-table td.icon{
  text-align:center;
} 

.delete-modal{
  display:none; 
  position: fixed; 
  z-index: 1; 
  padding-top:100px; 
  left:0; 
  top:0; 
  width:100%; 
  height:100%;
  background-color: #00000066 

} 

@keyframes slide-in {
  from {
    transform: translateX(-100%); /* Starts off-screen to the left */
  }
  to {
    transform: translateX(0); /* Ends at the original position */
  }
}

.delete-modal-content{
  background-color: #fefefe; 
  margin:auto; 
  padding:20px; 
  border: 1px solid #888; 
  width: 30%; 
  text-align: center; 
  align-items: center;
  justify-content: center;

} 

.close{
  color:#aaaaaa; 
  float:right;  
  font-size: 28px;
  font-weight: bold;
} 

.close:hover, 
.close:focus{
  color:#000; 
  text-decoration:none; 
  cursor: pointer; 
} 

.modal-buttons{
  display:flex; 
  justify-content: center;
  gap: 20px; 
  padding-top: 20px;
} 

.modal-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} 

.modal-buttons button:hover{
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}

#confirmDelete {
  background-color: #00b300; 
} 

#cancelDelete {
  background-color:#ff0000;
} 



/* Media query for screens with a width less than 700px */
@media screen and (max-width: 700px) {
  .sidebar {
      display: none;
  }
  .hamburger {
      display: block;
  }
  .sidebar.show {
      display: block;
      width: 100%;
      height: auto;
      position: absolute;
      top: 60px;
      left: 0;
      padding-top: 16px;
  }

  /* Centering the blog heading */
  .blog-heading {
      margin-left: 0;
      text-align: center;
      margin-top: 230px;
      position: relative;
      top: 0;
  }

  /* Centering and moving the search bar below the title */
  .search-container {
      justify-content: center;
      width: 100%;
      padding-top: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      top:auto; 
      position:relative;
  }

  /* Centering the add new post button below the search bar */
  .center-container {
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-left: 5px;
  }

  /* Ensuring the table is also centered and not too wide */
  .styled-table {
      font-size: 0.9em;
      margin-left: auto;
      margin-right: auto;
      width: 90%; /* Adjusted for smaller screens */
      padding-top: 300px;
  }

  .styled-table thead {
      display: none; /* Hide the headers on small screens */
  }

  /* Switching background color for alternating rows */
  .styled-table tr:nth-child(even) td {
      background-color: #009879;
  }

  /* Making each cell take the full width */
  .styled-table td {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: left;
  }  

  /* Adding column names for each cell */
  .styled-table tbody td:nth-child(1):before {
    content: 'Title:';
  }

  .styled-table tbody td:nth-child(2):before {
    content: 'Author:';
  }

  .styled-table tbody td:nth-child(3):before {
    content: 'Categories:';
  }

  .styled-table tbody td:nth-child(4):before {
    content: 'Tags:';
  }

  .styled-table tbody td:nth-child(5):before {
    content: '# of Comments:';
  }

  .styled-table tbody td:nth-child(6):before {
    content: 'Date Published:';
  } 
  .styled-table tbody td:nth-child(7):before {
    content: 'Edit:';
  } 
  .styled-table tbody td:nth-child(8):before {
    content: 'Delete:';
  } 
  .styled-table tbody td:nth-child(9):before {
    content: 'View:';
  } 


  .styled-table tbody td:before {
    display: block;
    font-weight: bold;
  }
}


/* Media query for screens with a width less than 400px */
@media screen and (max-width: 400px) {
  .sidebar a {
      text-align: center;
      float: none;
  }

  .blog-heading {
      margin-top: 100px; 
  }

  .search-container {
      margin-bottom: 20px;
  }

  .center-container {
      margin-bottom: 20px;
  }

  .styled-table {
      font-size: 0.7em;
  }
}
